@use '../../styles/mixins' as mixins;
@use '../../styles/variables' as vars;

.GridContainer {
    display: flex;
    gap: 5%;
    position: relative;
    @media (max-device-width: vars.$transition) {
        flex-direction: column-reverse;
    }
    .EnrollBlock {
        flex: 1;
        @media (max-device-width: vars.$transition) {
            margin: 0 24px;
        }
        .Title {
            @include mixins.fontNekst($fontSize: 3rem,$fontWeight: 500);
            margin-bottom: 24px;
            @media (max-device-width:vars.$transition) {
                font-size: 1.5rem;
                margin-bottom: 16px;
            }
        }

        .TimesBlock {
            display: grid;
            grid-template-columns: repeat(auto-fit,72px);
            grid-template-rows: 48px;
            margin-top: 24px;
            gap: 16px;
            @media (max-device-width:vars.$transition) {
                justify-content: center;
                margin-top: 16px;
            }

            @mixin timeMixin() {
                width: 72px;
                height: 48px;
                border-radius: 8px;
                text-align: center;
                @include mixins.fontRaleway();
                line-height: 48px;
                cursor: pointer;
            }

            .BusyTime {
                @include timeMixin();
                border: 1px solid #2C3E501F;
                color: #2C3E508F
            }

            .SelectedTime {
                @include timeMixin();
                color: white;
                background-color: #1D92F8;
                font-weight: 600;
            }

            .FreeTime {
                @include timeMixin();
                color: #1D92F8;
                font-weight: 600;
                background-color: white;
                border: 1px solid #1D92F8;
            }
            .FreeTime:hover {
                background-color: #1D92F8;
                color: white;
                transition: all 150ms ease-out;
            }
        }
    }

    .Warning {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        padding: 39px 18px;

        h3 {
            @include mixins.fontNekst($fontSize: 2.1875rem, $fontWeight: 500);
            text-align: center;
            margin: 0;
        }
    }
}