@use '../../styles/mixins' as mixins;
@use '../../styles/variables' as vars;

.Wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    @media (max-device-width: vars.$transition){
        margin: 0 24px 24px 24px;
    }
    .Step {
        display: flex;
        align-items: center;
        h6{
            @include mixins.fontRaleway();
            margin: 0 0 0 16px;
            @media (max-device-width:866px) {
                display: none;
            }
        }
    }
    @mixin step3 {
        padding-left: 173px;
        position: relative;
        &::after {
            content: "";
        position: absolute;
        height: 1px;
        left: 0;
        right: 56px;
        background-color: #2C3E501F;
    }
    @media (max-device-width:866px) {
        padding-left: 16px;
    }    
    }
    .Step3_Gray{
        @include step3()
    }
    .Step3_Black{
        @include step3()
    }
    .Step3_Black::after{
        background-color: #000000;
    }
    .Line{
        height: 1px;
        flex: 1;
        align-self: center;
        margin: 0 16px;
    }
    .Line2{
        margin-right: 0;
    }
}