@use '../../styles/mixins';

.Wrapper {
    @include mixins.fontRaleway();
    justify-self: center;
    padding-top: 1%;

    p {
        color: rgba(44, 62, 80, 0.56);
        margin-bottom: 4px;
    }

    a {
        color: rgba(44, 62, 80, 1);
        text-decoration: none;
    }
}