@use './fonts/Nekst/stylesheet.css' as fontNekst;
@use './fonts/Raleway/stylesheet.css' as fontRaleway;
@use './mixins' as mixins;
@use './variables' as vars;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p {
    margin: 0;
}

html {
    font-size: 16px;

    @media ((max-device-width: vars.$desktopMiddle) and (min-device-width: vars.$desktopMin)) {
        font-size: 14px;
    }
    @media (max-device-width: vars.$smallMobile) {
        font-size: 13px;
    }
}

.DisabledButton {
    @include mixins.buttonStandard();
    @include mixins.fontRaleway($fontWeight: 600);
    background-color: #2C3E501F;
    color: #2C3E50;
    cursor: auto
}

.DefaultButton_1 {
    @include mixins.buttonStandard();
    @include mixins.fontRaleway($fontWeight: 600);
    background-color: #1D92F8;
    color: white
}

.DefaultButton_1:hover {
    transition: all 150ms ease-out;
    background-color: #4AA8F9;
}

.DefaultButton_2 {
    @include mixins.buttonStandard();
    @include mixins.fontRaleway($fontWeight: 600);
    background-color: white;
    color: #1D92F8;
    border: 1px solid #1D92F8
}

.DefaultButton_2:hover {
    transition: all 150ms ease-out;
    background-color: #1D92F8;
    color: white
}

.AlertText {
    margin-top: 8px;
    color: #E95332;
}