@use '../../styles/variables' as vars;

.Header{
    align-self: flex-start;
    width: 100%;
    img {
        width: 160.94px;
        height: 64px;
        @media (max-device-width: vars.$transition) {
            width: 120.7px;
            height: 48px;
        }
    }
}