@use '../../styles/mixins' as mixins;
@use '../../styles/variables' as vars;

@mixin AppStandard() {
    width: 100%;
    display: flex;
    position: relative;
    min-height: 100vh;
    flex-direction: column;

    @media (min-device-width: vars.$desktopMin) {
        height: 100vh;
        background-image: url('./assets/LoginBackground.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 100% 32%;
    }

    .FlexContainer {
        height: 100%;
        display: flex;
        justify-content: flex-end;
        width: 34%;
        background-color: white;

        @media (max-device-width: vars.$tabletMax) {
            width: 100%;
            justify-content: center;
            flex: 1;
            border-radius: 0 0 16px 16px;
            transform: translateY(12px);
        }

        .LoginWrapper {
            align-items: flex-start;
            justify-content: space-between;
            display: flex;
            flex-direction: column;
            width: 360px;
            padding: 32px;
            box-sizing: content-box;
            position: relative;
            z-index: 1;

            @media (min-device-width: vars.$desktopMin) {
                max-height: 100%;
            }
            @media (max-device-width: vars.$tabletMax) {
                padding-top: 20px;
                width: 100%;
            }

            .HeaderWrapper {
                width: 62%;

                @media (max-device-width:912px) {
                    width: 100%;
                }
            }
        }
    }

    .LoginPhoto {
        width: 100%;
            height: auto;
        @media (min-device-width: vars.$desktopMin) {
            display: none;
        }
    }

    .EmployeeLogin {
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        box-sizing: content-box;
        display: flex;
        flex-direction: column;
        border-radius: 16px;
        width: 428px;
        padding: 21px;
        height: 414px;
        z-index: 2;
        justify-content: center;
        align-items: center;
        @media (max-device-height: 335px) {
            height: min-content;
            width: min-content;
        }
        @media ((max-device-height: 483px) and (min-device-height: 336px)) {
            height: 278px;
            width: min-content;
        }
        @media (max-device-width: vars.$middleMobile) and (min-device-width: vars.$smallMobile) {
            height: 283px;
            width: 243px;
        }
        @media (max-device-width: vars.$smallMobile) {
            width: 181px;
            height: 283px;
        }

        .EmployeeWrapper {
            display: flex;
            flex-direction: column;
            @media (max-device-height: 335px) {
                align-items: center;
            }
            @media (max-device-width: vars.$middleMobile) {
                width: 100%;
            }

            form {
                display: flex;
                flex-direction: column;

                .LoginInput,
                .PasswordInput {
                    display: flex;
                    flex-direction: column
                }

                .LoginInput {
                    margin-bottom: 13px;
                    @media (max-device-height: 335px) {
                        margin-bottom: 10px;
                    }
                }

                label {
                    @include mixins.fontRaleway();
                    margin-bottom: 12px;
                    @media (max-device-height: 335px) {
                        margin-bottom: 8px;
                    }
                }

                input {
                    @include mixins.fontRaleway();
                    border: 1px solid rgba(44, 62, 80, 0.24);
                    height: 48px;
                    width: 360px;
                    border-radius: 8px;
                    padding-left: 16px;
                    @media (max-device-height: 335px) {
                        width: 100%;
                        height: 28px;
                    }
                    @media (max-device-width: vars.$middleMobile) {
                        width: 100%;
                    }
                    @media (max-device-width: vars.$smallMobile) {
                        height: 38px;
                    }
                }

                button {
                    margin: 0;
                    margin-top: 16px;
                    @media (max-device-height: 335px) {
                        height: 28px;
                        margin-top: 14px;
                    }
                    @media (max-device-width: vars.$middleMobile) {
                        width: 100%;
                        margin-top: 13px;
                    }
                    @media (max-device-width: vars.$smallMobile) {
                        height: 38px;
                    }
                }

                .WrongLogin {
                    color: #E95332;
                    margin-top: 16px
                }
            }

            h1 {
                @include mixins.fontNekst($fontWeight: 500);
                width: 360px;
                @media (max-device-height: 335px) {
                    margin-bottom: 8px;
                }
                @media (max-device-height: 483px) {
                    font-size: 21px;
                }
                @media (max-device-width: vars.$middleMobile) {
                    width: auto;
                    font-size: 21px;
                    margin-bottom: 17px;
                }
            }

            .Cross {
                position: absolute;
                top: 3%;
                width: 32px;
                height: 32px;
                right: 3%;
                @media (max-device-height: 335px) {
            height: 23px;
            width: 23px
        }
        @media ((min-device-height: 336px) and (max-device-height: 483px)) {
            font-size: 21px;
            height: 25px;
            width: 25px
        }
                @media (max-device-width: vars.$middleMobile) {
                    top: 8px;
                    right: 8px;
                    height: 20px;
                    width: 20px;
                }
            }

            .Cross:hover {
                cursor: pointer;
            }
        }
    }
}

.App {
    @include AppStandard();
}

.AppOverlay {
    @include AppStandard();
}

.AppOverlay::before {
    content: "";
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(44, 62, 80, 0.5)
}