@use '../../styles/mixins' as mixins;

.Wrapper {
    margin-top: 32px;

    .GridContainer {
        display: grid;
        grid-template-columns: 150fr 57fr 111fr 134fr 66fr 50fr 44fr;
        justify-items: flex-start;
        border-top: 1px solid #2C3E501F;
        @include mixins.fontRaleway();
        height: 48px;
        align-items: center;
        padding: 0 16px;

        .Icons {
            justify-self: flex-end;

            .DeleteIcon {
                margin-left: 14px;
            }
        }
    }

    .TableHeader {
        font-weight: 600;
        color: #2C3E508F
    }
}