@use '../../styles/mixins' as mixins;
@use '../../styles/variables' as vars;

.Wrapper {
    @include mixins.fontRaleway();
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: flex-end;
    gap: 20px;

    img {
        width: 56px;
        @media (max-device-width: vars.$middleMobile) {
            display: none;
        }
    }

    .EmailExit {
        a {
            font-weight: 600;
            font-size: 0.875rem;
            letter-spacing: 0.613px;
            cursor: pointer;
        }
        .EmailPostfix{
            @media (max-device-width: vars.$transition) {
                display: none;
            }
        }
    }
}